.git
.env
.env.*
!.env.example
node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
docker-compose*.yml
deploy/
tests/
phpunit.xml
.editorconfig
.phpunit.cache
README.md
